#contenedor-formulario{
    border-color: #292828;
    text-align: center;
    width: 450px;
    padding: 40px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 70px;
    
}


.imagen:hover {filter: opacity(.5);}

#barranav{
    background-color: #151a2e;
}


.nav-item{
    text-align: center;
    padding: 0px 15px;
    line-height: 10px;
}

#Contenido{
    margin: 0 auto;
}

h5{
    text-align: center;
}

.card{
    border-color: white;
}

.card-body{
    text-align: center;
}

.card-text{
    color: #7d7d80;
}

a{
    color: black;
}

aside{
    background-color: #151a2e;
    float: left;
    width: 50%;
}

#imagen{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
